APP_PORT=8080
MYSQL_PORT=3306
MYSQL_DATABASE=abelohost
MYSQL_USER=abelohost
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=secret

#XDEBUG_MODE=off
XDEBUG_MODE=debug,develop
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
PHP_IDE_CONFIG=serverName=abelohost
