@use "../abstract/variables" as *;
@use "../mixins/func";

.header {
  width: min(calc(100% - 100px), $frame-width);
  margin: 2rem auto 0;
  color: $white;
  background: $brand-color;
}

.header__inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: min(100%, $container-width);
  height: 40px;
}

.logo {
  color: $white;
  font-size: func.rem(14);
  font-weight: 700;
  letter-spacing: 0.02em;
}

@media (max-width: 1200px) {
  .header {
    width: calc(100% - $desktop-gutter);
  }

  .header__inner {
    width: min(calc(100% - $desktop-gutter), $container-width);
  }
}

