$frame-width: 1440px;
$container-width: 1180px;

$desktop-gutter: 40px;

$font-family: Arial, Helvetica, sans-serif;
$font-main: #1d2528;
$font-muted: #7b8589;

$white: #ffffff;
$brand-color: #2c5d6e;
$brand-color-dark: #204957;

$bg-main: $white;

$border-line: #dfe5e7;
$border-radius: 4px;
